.ingredients-container{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.used-ingredients{
    flex-grow: 1;
}
.missed-ingredients{
    flex-grow: 1;
}
.used-ingredients-title{
    color: green;
}
.missed-ingredients-title{
    color: red;
}